<div class="container">
	<div class="mt-1">
		<h1>Agenda</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<p>Wir wollen heute eine kleine Beispielapplikation erstellen, um uns Stück für Stück in das Thema Angular 2 einzuarbeiten.
			Hierfür haben wir eine clientseitige Applikation vorbereitet (Blog), die wir nach und nach zusammen entwickeln wollen.
			Wir führen euch in grundlegende Themen ein und werden sehen, dass man mit Angular komplette Business Applikationen entwickeln
			kann. Die heutige Agenda ist wie folgt:</p>
		<ol class="list-group">
			<li class="list-group-item-default" *ngFor="let item of agenda">{{item}}</li>
		</ol>
	</div>
	<div class="col-md-1">
	</div>
</div>