<div class="card bg-faded">
    <div class="card-block">
        <h4 class="card-title">
            <span class="tag tag-default tag-pill float-xs-right">
                {{ post.date | date : "dd.MM.yyyy HH:mm" }}
            </span> 
            {{ post.title | uppercase }}
        </h4>
        <h5 class="card-subtitle text-muted">
            <img class="img-thumbnail rounded-circle" width="50px" src="{{ userAvatar$ | async }}"> 
            {{ userName$ | async }}
        </h5>
    </div>
    <div class="card-block">
        <p class="card-text">
            {{ post.body }}
        </p>
        <a [routerLink]="['/posts', post.id]" class="card-link">Edit</a>
        <a (click)="removePost()" class="card-link">Delete</a>
    </div>
</div>