<div class="card bg-faded">
    <div class="card-block">
        <h4 class="card-title">
            <span class="tag tag-default tag-pill float-xs-right">
                Datum
            </span> 
            Titel
        </h4>
        <h5 class="card-subtitle text-muted">
            <img class="img-thumbnail rounded-circle" width="50px" src="avatar"> 
            userName
        </h5>
    </div>
    <div class="card-block">
        <p class="card-text">
            text
        </p>
    </div>
</div>